<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="smart.factory.mapper.CityMapper">
    <resultMap id="UserResultMap" type="smart.factory.domain.City">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="description" property="description"/>
    </resultMap>

    <parameterMap id="User" type="smart.factory.domain.User"/>

    <sql id="User_Column_List">
        id, username, password, description
    </sql>

    <select id="getByUsername" resultMap="UserResultMap" parameterType="java.lang.String">
        select
        <include refid="User_Column_List"/>
        from user
        where username = #{username}
    </select>
</mapper>